body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-weight: bold;
}

p {
    text-indent: 1em;
}

#large-content {
    background-image: url("/img/star_background.png");
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

#fuselage {
    background-color: #888888;
}

#fuselage:hover {
    box-shadow: 0px 0px 10px #ffff00;
}

#intro {
    margin: 0;
    background-color: #ffffff;
}

#rocket-equation {
    margin: 0;
    background-color: #cccccc;
}

#vector-intro {
    margin: 0;
    background-color: #ffffff;
}

#ns-equations {
    margin: 0;
    background-color: #cccccc;
}

#conclusion {
    margin: 0;
    background-color: #ffffff;
}

section {
    margin: 0px 15px 0px 15px;
}

#team-list {
    text-align: center;
}

#team-list ul {
    list-style-type: none;
    text-shadow: 2px 2px 2px #888;
    font-weight: bold;
}

.picture {
    text-align: center;
    margin: 10px;
    background-repeat: no-repeat;
}

/* Images */
#rocket-before {
    background-image: url("./../img/RE/rocket-1.png");
}

.separator {
    margin: 0;
    background-color: #000000;
    width: 100%;
    height: 0px;
    border-top: 5px solid #333333;
    border-right: 5px solid #333333;
    border-bottom: 5px solid #aaaaaa;
    border-left: 5px solid #aaaaaa;
}

@media (max-width:767px) {
    body {
        font-size: 11pt;
    }

    h2 {
        font-size: 14pt;
    }

    h1 {
        font-size: 16pt;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .NS-img-wide {
        width: 250px;
        height: 150px;
    }
    
    .NS-img-thin {
        width: 250px;
        height: 300px;
    }

    .NS-img-sm {
        width: 300px;
        height: 300px;
    }

    .NS-img-bg {
        width: 300px;
        height: 300px;
    }

    #rckt-before {
        width: 200px;
        height: 75px;
    }

    #rckt-after {
        width: 200px;
        height: 75px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    body {
        font-size: 12pt;
    }

    h2 {
        font-size: 16pt;
    }

    h1 {
        font-size: 18pt;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .NS-img-wide {
        width: 300px;
        height: 200px;
    }
    
    .NS-img-thin {
        width: 300px;
        height: 400px;
    }

    .NS-img-sm {
        width: 300px;
        height: 300px;
    }

    .NS-img-bg {
        width: 400px;
        height: 400px;
    }

    #rckt-before {
        width: 200px;
        height: 75px;
    }

    #rckt-after {
        width: 200px;
        height: 75px;
    }
}

@media (min-width:992px) {
    body {
        font-size: 16pt;
    }

    h2 {
        font-size: 20pt;
    }

    h1 {
        font-size: 24pt;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .NS-img-wide {
        width: 300px;
        height: 200px;
    }
    
    .NS-img-thin {
        width: 300px;
        height: 400px;
    }

    .NS-img-sm {
        width: 300px;
        height: 300px;
    }

    .NS-img-bg {
        width: 500px;
        height: 500px;
    }

    #rckt-before {
        width: 300px;
        height: 125px;
    }

    #rckt-after {
        width: 300px;
        height: 125px;
    }
}